body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 23.438rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  width: 90%;
  background: #fff;
  margin-top: 2rem;
}

#mylogo {
  width: 4.75rem;
  height: 1.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
  text-decoration: none;
  margin-left: 2.5rem;
  animation: animate 1s;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#humberger-bottun {
  width: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0.5rem;
}

#navigation-bar {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 55px;
}

#navigation-bar a {
  text-decoration: none;
  color: #344563;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin: 15px;
}

.ico {
  width: 100%;
  height: 0.188rem;
  background-color: #6070ff;
}

#sec1 {
  width: 100%;
  height: 44rem;
  background: #fff;
  background-image: url("/image/header-shapes\ mobile@2x.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.563rem;
  margin-top: 0;
}

#sec1 h1 {
  font-weight: 700;
  height: 9.375rem;
  font-size: 2.5rem;
  color: #172b4d;
  width: 100%;
  line-height: 3.25rem;
  padding-top: 3.75rem;
}

.work-card p {
  width: 18.563rem;
  height: 4.75rem;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #344563;
  margin-left: 1.25rem;
}

#sec1 p {
  width: 100%;
  height: 9.125rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

#connect {
  cursor: pointer;
  width: 7.313rem;
  height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  text-decoration: none;
}

.work-card ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0.625rem;
  padding-left: 0;
  align-content: center;
  margin-left: 1.25rem;
}

.bs ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#img-svg ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.work-card li {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6070ff;
  letter-spacing: 0.03em;
  padding: 0.25rem 0.75rem;
  background: #ebebff;
  border-radius: 0.5rem;
  margin-right: 0.625rem;
  margin-left: 0;
  float: left;
}

.bs li {
  padding: 0.625rem;
  text-align: start;
}

#img-svg li {
  padding: 1.125rem;
  padding-left: 0;
  padding-top: 0;
}

#sec2 {
  width: 375px;
  padding-left: 0.7rem;
  padding-top: 9.375rem;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: auto;
}

.work-card {
  width: 25rem;
  height: 40rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  margin-bottom: 6.25rem;
  display: flex;
  flex-direction: column;
}

.work-card:hover {
  box-shadow: 1px 8px 16px #9fe9ff;
}

.img-project {
  width: 23.5rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin: 0.938rem;
  padding: 1rem 0;
}

.img-project-website {
  display: none;
}

.left-block h2 {
  width: 18.438rem;
  height: 2.25rem;
  color: #172b4d;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-left: 1.25rem;
  margin-top: 0;
}

.frame span {
  width: 3.438rem;
  height: 1rem;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
  margin-left: 1.25rem;
}

.frame .CANO {
  color: #344563;
}

.left-block {
  padding-left: 1.6rem;
}

.list-removing {
  display: none;
}

.bb {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 0.5rem;
  background: #fff;
  padding: 0.625rem 0.938rem;
  margin-left: 1.25rem;
  margin-top: 0.625rem;
}

.bb:hover {
  color: #fff;
  background-color: #396df2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.bb:active {
  color: #fff;
  background-color: #2230d2;
  border-color: #2230d2;
}

.bb:disabled {
  color: #5e6c84;
  border-bottom: #5e6c84;
}

#sec3 {
  width: 100%;
  height: 37.5rem;
  background: #fff;
  padding: 1.563rem;
  margin-top: 0;
}

#sec3 h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
  width: 100%;
  line-height: 3.25rem;
  padding-top: 3.75rem;
  margin-bottom: 0;
}

#sec3 p {
  width: 100%;
  height: 9.125rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

#sec3 .bb {
  margin-left: 0;
  margin-top: 0;
}

.buts {
  margin-left: 0;
  margin-bottom: 3.125rem;
  padding-bottom: 3.125rem;
}

.detbut {
  border-bottom: 1px solid #dfe1e6;
}

.detbut summary {
  list-style: none;
  display: flex;
}

.detbut span {
  width: 15.938rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 18px 0;
}

.divbut {
  display: flex;
  align-items: center;
  margin: 0.75rem;
  padding-bottom: 0.625rem;
  background-color: #f7f7f9;
}

.divbut span {
  margin-left: 0.938rem;
}

.gg img {
  margin-top: 1.875rem;
  top: 5px;
  left: 9px;
}

main {
  margin-bottom: 31.25rem;
}

#form-section {
  height: 48.688rem;
  padding-top: 50px;
  background-color: #6070ff;
  background-image: url("/image-sec-form/contact\ form\ shapes-mobile@2x.svg");
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#form-section h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #fff;
  text-align: center;
  padding-top: 3.75rem;
  padding-bottom: 0;
}

#form-section p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
  padding: 1.25rem;
  padding-top: 0;
}

.bs input {
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  background: #fff;
  width: 18.75rem;
  height: 1.875rem;
  color: #172b4d;
}

.bs textarea {
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  background: #fff;
  width: 18.75rem;
  height: 9.375rem;
  color: #172b4d;
}

.bs button {
  margin-top: 0;
  margin-left: 0.625rem;
  color: #6070ff;
}

.bs button:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px #283df9;
}

.bs button:active {
  background-color: #2230d2;
}

@media (min-width: 400px) {
  body {
    width: 1640px;
  }

  nav {
    width: 100%;
  }

  #mylogo {
    font-size: 20px;
  }

  #humberger-bottun {
    display: none;
  }

  #navigation-bar {
    display: flex;
  }

  #sec1 {
    width: 80%;
    background-image: url("/img4/Header\ bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px auto;
    height: 570px;
  }

  #sec1 h1 {
    font-size: 48px;
    margin-left: 200px;
    margin-top: 120px;
    line-height: 60px;
    margin-bottom: 0;
  }

  .left-block p {
    font-size: 16px;
    width: 94%;
    margin-right: 4px;
  }

  #sec1 p {
    margin-top: 0;
    margin-left: 200px;
    width: 68%;
    font-size: 20px;
    line-height: 30px;
  }

  #connect {
    margin-left: 200px;
    font-size: 20px;
  }

  #img-svg {
    margin-left: 200px;
  }

  .left-block li {
    font-size: 16px;
    padding: 0.5rem 1rem;
  }

  #img-svg li {
    margin-right: 8px;
  }

  #img-svg img {
    width: 27px;
  }

  #sec2 {
    width: 100%;
    background: #e5e5e5;
    padding-right: 35px;
  }

  .work-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 1170px;
    height: 496px;
    margin: 10px auto;
    margin-bottom: 80px;
  }

  .img-project {
    width: 544px;
    height: 448px;
    padding-left: 20px;
    transition: transform 0.5s ease-out;
  }

  .img-project:hover {
    transform: scale(0.7);
  }

  .mobile-img {
    display: none;
  }

  .img-project-website {
    display: flex;
  }

  .left-block {
    margin-top: -90px;
  }

  .left-block h2 {
    font-size: 40px;
  }

  .frame span {
    font-size: 18px;
  }

  .list-removing {
    display: flex;
  }

  .left-block ul {
    margin-bottom: 21px;
  }

  button {
    width: 142px;
    height: 48px;
  }

  .card1 {
    order: 3;
  }

  .card2 {
    order: 4;
    flex-direction: row-reverse;
  }

  .card3 {
    order: 1;
  }

  .card4 {
    order: 2;
    flex-direction: row-reverse;
  }

  .card4 .img-project {
    padding-right: 20px;
  }

  .card2 .img-project {
    padding-right: 20px;
  }

  #form-section {
    width: 100%;
    background-image: url("/img4/contact\ form-\ background-shape-desktop.svg");
    background-image: url("/img4/contact\ form\ background\ shapes@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 43px;
    padding-bottom: 30px;
  }

  .aS {
    text-align: center;
  }

  #form-section h2 {
    font-size: 40px;
  }

  #form-section p {
    font-size: 20px;
    width: 38%;
    margin: 10px auto;
  }

  #form-section p:hover {
    transform: translate(20px);
  }

  .bs {
    font-size: 17px;
  }

  .bs ul {
    margin-bottom: 0;
  }

  .bs input {
    width: 447px;
    height: 48px;
  }

  .bs textarea {
    width: 447px;
    height: 170px;
  }

  .bs button {
    margin: 0 200px;
  }

  .bs button:hover {
    box-shadow: 0 8px 16px rgba(215, 219, 247, 0.24);
    border-color: #cfd8dc;
  }
}
